{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Расписание инструкторов</title>
        <link rel="stylesheet" href="{% static "css/base.css"%}"/>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    </head>
    <body>
        {{ content|safe }}
       <script>
            function sleep(ms){
                return new Promise(
                    resolve => setTimeout(resolve, ms)
                );
            }
            async function carusel(){
                await sleep(10000);
                $(".hide0").fadeOut(1000);
                await sleep(500);
                $(".hide1").fadeIn(1000);
                await sleep(10000);
                $(".hide1").fadeOut(1000);
                await sleep(500);
                $(".hide2").fadeIn(1000);
                await sleep(10000);
                $(".hide2").fadeOut(1000);
                await sleep(500);
                $(".hide3").fadeIn(1000);
                await sleep(10000);
                $(".hide3").fadeOut(1000);
                await sleep(500);
                $(".hide4").fadeIn(1000);  
                await sleep(10000);
                window.location.reload(true);              
            }            
            $(document).ready(function(){
                carusel()               
            })
        </script>
    </body>
</html>